{\rtf1\ansi\ansicpg936\cocoartf2639
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset134 PingFangSC-Regular;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 body \{\
    margin: 0;\
    padding: 0;\
    font-family: sans-serif;\
    /* 1. 
\f1 \'b9\'cc\'b6\'a8\'b1\'b3\'be\'b0
\f0  */\
    background-image: url('assets/background.jpg');\
    background-attachment: fixed; /* 
\f1 \'ba\'cb\'d0\'c4\'a3\'ba\'c8\'c3\'b1\'b3\'be\'b0\'cd\'bc\'cf\'e0\'b6\'d4\'d3\'da\'ca\'d3\'bf\'da\'b9\'cc\'b6\'a8
\f0  */\
    background-size: cover; /* 
\f1 \'c8\'b7\'b1\'a3\'b1\'b3\'be\'b0\'b8\'b2\'b8\'c7\'d5\'fb\'b8\'f6\'ca\'d3\'bf\'da
\f0  */\
    background-repeat: no-repeat;\
    background-position: center center;\
    overflow: hidden; /* 
\f1 \'b7\'c0\'d6\'b9\'b9\'f6\'b6\'af\'cc\'f5\'b3\'f6\'cf\'d6\'a3\'ac\'d5\'fb\'b8\'f6\'bb\'a5\'b6\'af\'cd\'a8\'b9\'fd\'ca\'f3\'b1\'ea\'bf\'d8\'d6\'c6
\f0  */\
    height: 100vh; /* 
\f1 \'c8\'b7\'b1\'a3
\f0  body 
\f1 \'d5\'bc\'c2\'fa\'ca\'d3\'bf\'da\'b8\'df\'b6\'c8
\f0  */\
    cursor: grab; /* 
\f1 \'cc\'e1\'ca\'be\'d3\'c3\'bb\'a7\'bf\'c9\'d2\'d4\'cd\'cf\'d7\'a7
\f0  */\
\}\
\
.site-header \{\
    position: fixed; /* 
\f1 \'b9\'cc\'b6\'a8\'b5\'bc\'ba\'bd\'a3\'ac\'b2\'bb\'cb\'e6\'d7\'f7\'c6\'b7\'d2\'c6\'b6\'af
\f0  */\
    top: 0;\
    left: 0;\
    width: 100%;\
    padding: 20px 40px;\
    z-index: 10; /* 
\f1 \'c8\'b7\'b1\'a3\'b5\'bc\'ba\'bd\'d4\'da\'d7\'f7\'c6\'b7\'d6\'ae\'c9\'cf
\f0  */\
    display: flex;\
    justify-content: space-between;\
    align-items: center;\
    color: #fff; /* 
\f1 \'bc\'d9\'c9\'e8\'b1\'b3\'be\'b0\'bd\'cf\'b0\'b5
\f0  */\
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);\
\}\
\
/* 2. 
\f1 \'c6\'b4\'cc\'f9\'c8\'dd\'c6\'f7\'d1\'f9\'ca\'bd
\f0  */\
.collage-container \{\
    position: absolute;\
    /* 
\f1 \'c9\'e8\'d6\'c3\'d2\'bb\'b8\'f6\'b1\'c8\'ca\'d3\'bf\'da\'b4\'f3\'b5\'c3\'b6\'e0\'b5\'c4\'b3\'df\'b4\'e7\'a3\'ac\'d2\'d4\'c8\'dd\'c4\'c9\'cb\'f9\'d3\'d0\'d7\'f7\'c6\'b7\'b2\'a2\'cc\'e1\'b9\'a9\'d2\'c6\'b6\'af\'bf\'d5\'bc\'e4
\f0  */\
    width: 250vw; /* 
\f1 \'ca\'d3\'bf\'da\'bf\'ed\'b6\'c8\'b5\'c4
\f0  2.5 
\f1 \'b1\'b6
\f0  */\
    height: 250vh; /* 
\f1 \'ca\'d3\'bf\'da\'b8\'df\'b6\'c8\'b5\'c4
\f0  2.5 
\f1 \'b1\'b6
\f0  */\
    /* 
\f1 \'b3\'f5\'ca\'bc\'be\'d3\'d6\'d0\'bb\'f2\'c9\'e8\'d6\'c3\'d2\'bb\'b8\'f6\'c6\'f0\'ca\'bc\'ce\'bb\'d6\'c3
\f0  */\
    top: -75vh;\
    left: -75vw;\
    /* 
\f1 \'c6\'f4\'d3\'c3\'d3\'b2\'bc\'fe\'bc\'d3\'cb\'d9\'a3\'ac\'ca\'b9\'d2\'c6\'b6\'af\'b8\'fc\'c1\'f7\'b3\'a9
\f0  */\
    will-change: transform;\
    transition: transform 0.1s ease-out; /* 
\f1 \'bf\'c9\'d1\'a1\'a3\'ba\'d4\'f6\'bc\'d3\'ce\'a2\'d0\'a1\'b5\'c4\'b9\'fd\'b6\'c9\'a3\'ac\'c8\'c3\'d0\'a7\'b9\'fb\'b8\'fc\'c6\'bd\'bb\'ac
\f0  */\
\}\
\
/* 3. 
\f1 \'c6\'b4\'cc\'f9\'d7\'f7\'c6\'b7\'b5\'c4\'b6\'a8\'ce\'bb
\f0  (
\f1 \'ca\'b9\'d3\'c3\'be\'f8\'b6\'d4\'b6\'a8\'ce\'bb\'bb\'f2\'c5\'e4\'ba\'cf
\f0  Grid/Flex 
\f1 \'cb\'e6\'d2\'e2\'c5\'c5\'c1\'d0
\f0 ) */\
.collage-item \{\
    position: absolute;\
    max-width: 30%; /* 
\f1 \'cf\'de\'d6\'c6\'d7\'f7\'c6\'b7\'b3\'df\'b4\'e7
\f0  */\
    height: auto;\
    /* 
\f1 \'cb\'e6\'bb\'fa\'b6\'a8\'ce\'bb\'c4\'e3\'b5\'c4\'d7\'f7\'c6\'b7\'d2\'d4\'d0\'ce\'b3\'c9\'c6\'b4\'cc\'f9\'d0\'a7\'b9\'fb
\f0  */\
\}\
\
.item-1 \{ top: 10%; left: 15%; width: 400px; \}\
.item-2 \{ bottom: 5%; right: 10%; width: 350px; \}\
.item-3 \{ top: 60%; left: 50%; transform: rotate(15deg); width: 500px; \}\
/* ... 
\f1 \'bc\'cc\'d0\'f8\'ce\'aa\'c4\'e3\'b5\'c4\'d7\'f7\'c6\'b7\'cc\'ed\'bc\'d3\'b2\'bb\'cd\'ac\'b5\'c4\'ce\'bb\'d6\'c3\'ba\'cd\'bd\'c7\'b6\'c8
\f0  ... */}